<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Denuncie</title>

  <!-- Bootstrap -->
  <link href="bootstrap-3.1.1-dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<div class="container">
  <div class="jumbotron header-logo">
    <div class="pos-logo">
      <span class="glyphicon glyphicon-bullhorn"><h1>BNT</h1></span>
    </div>
  </div>
  <hr style="margin-top: -26px;"><br>
  <div class="container-divs">
    <form class="form-horizontal" role="form" method="post" action="/resultado">
      <div class="form-group">
        <label class="col-sm-2 control-label">Nome</label>
        <div class="col-sm-9">
          <input type="text" class="form-control nm-usuDen" placeholder="Nome" name="personal[nome]" value="Johann">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">E-mail</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" placeholder="E-mail"  name="personal[email]" value="johanngomes@gmail.com">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">CPF</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="CPF" name="personal[cpf]" value="09414280448">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Telefone</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="Telefone" name="personal[fone]" value="8196702734">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Endereço</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="Endereço" name="personal[endereco]" value="Rua X de Y 145">
        </div>
      </div>
      <div class="bt-ContDen">
        <input type="submit" class="btn btn-danger bt-ContDen" value="Salvar">
      </div>
    </form>
  </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bootstrap-3.1.1-dist/js/bootstrap.min.js">

</script>
</body>
</html>